/* This applies to all elements (bad practice) */
body {
	color: black;
	font-family: Arial;
}

#container {
	width: 550px;
	height: 750px;
	padding: 10px;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%,-40%);
  font-size: 25px;
	text-align: left;
	background-color: white;
	border: 2px solid #dad9d9 ;
}

#container h2, h3 {
	font-weight: bold;
}

.header {
	font-weight: bold;
	font-size: 22px;
}

.info {
	margin-top: 2vh;
	margin-bottom: 2vh;
	padding: 5px;
	font-size: 19px;
	border: 1px solid black;
}

.small {
	font-size: 25px;
}

#confirm {
	top: 47%;
	left: 50%;
	transform: translate(-50%,-40%);
	position: absolute;
	width: 400px;
	padding: 20px;
	text-align: center;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	background-image: linear-gradient(to bottom right,#037007, black);
	color: white;
	border-radius: 30px;
}

#confirm p {
	margin: 5px;
}

#confirm button {
	margin: 8px;
	width: 30%;
	height: 35px;
	border-radius: 20px;
	border: none;
	font-size: 15px;
	font-weight: bold;
	transition: 0.4s ease;
	cursor: pointer;
}

#yes:hover {
	background-color: #19d21f;
	color: white;
}

#no:hover {
	background-color: #f31313;
	color: white;
}

#confirm h1 {
	font-size: 22px;
	font-weight: 500;
	padding: 5px;
	font-family: 'Roboto', sans-serif;
}

#gender {
	top: 47%;
	left: 50%;
	transform: translate(-50%,-40%);
	position: absolute;
	width: 400px;
	padding: 20px;
	text-align: center;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	background-image: linear-gradient(to bottom right,#037007, black);
	color: white;
	border-radius: 30px;
	display: none;
}

#gender p {
	margin: 5px;
}

#gender button {
	margin: 8px;
	width: 30%;
	height: 35px;
	border-radius: 20px;
	border: none;
	font-size: 15px;
	font-weight: bold;
	transition: 0.4s ease;
	cursor: pointer;
}

#gender button:hover {
	background-color: #19d21f;
	color: white;
}

#gender h1 {
	font-size: 22px;
	font-weight: 500;
	padding: 5px;
	font-family: 'Roboto', sans-serif;
}