* {
	user-select: none;
}

body {
	color: black;
	font-family: Arial;
}

#container {
	width: 550px;
	padding: 10px;
	position: absolute;
	top: 47%;
	left: 50%;
	transform: translate(-50%,-40%);
	font-size: 22px;
	text-align: left;
	background-color: white;
	border: 2px solid #dad9d9 ;
}

#container h2, h3 {
	font-weight: bold;
}

.header {
	font-weight: bold;
	font-size: 20px;
}

.heading {
	font-weight: bold;
	font-size: 20px;
	margin: 1vh;
	display: inline-block;
}

.info {
	margin-top: 2vh;
	margin-bottom: 2vh;
	padding: 5px;
	font-size: 16px;
	border: 1px solid black;
}

.small {
	font-size: 25px;
}

#confirm {
	top: 47%;
	left: 50%;
	transform: translate(-50%,-40%);
	position: absolute;
	width: 400px;
	padding: 20px;
	text-align: center;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	background-image: linear-gradient(to bottom right,#037007, black);
	color: white;
	border-radius: 30px;
	display: none;
}

#confirm p {
	margin: 5px;
}

#confirm button {
	margin: 8px;
	width: 30%;
	height: 35px;
	border-radius: 20px;
	border: none;
	font-size: 15px;
	font-weight: bold;
	transition: 0.4s ease;
	cursor: pointer;
}

#yes:hover {
	background-color: #19d21f;
	color: white;
}

#no:hover {
	background-color: #f31313;
	color: white;
}

.yes:hover {
	background-color: #19d21f;
	color: white;
}

.no:hover {
	background-color: #f31313;
	color: white;
}

#confirm h1 {
	font-size: 22px;
	font-weight: 500;
	padding: 5px;
	font-family: 'Roboto', sans-serif;
}

#gender {
	top: 47%;
	left: 50%;
	transform: translate(-50%,-40%);
	position: absolute;
	width: 400px;
	padding: 20px;
	text-align: center;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	background-image: linear-gradient(to bottom right,#037007, black);
	color: white;
	border-radius: 30px;
	display: none;
}

#gender p {
	margin: 5px;
}

#gender button {
	margin: 8px;
	width: 30%;
	height: 35px;
	border-radius: 20px;
	border: none;
	font-size: 15px;
	font-weight: bold;
	transition: 0.4s ease;
	cursor: pointer;
}

#gender button:hover {
	background-color: #19d21f;
	color: white;
}

#gender h1 {
	font-size: 22px;
	font-weight: 500;
	padding: 5px;
	font-family: 'Roboto', sans-serif;
}

.block {
	margin-top: 2vh;
	margin-bottom: 2vh;
}

#antragsteller {
	width: 100%;
	border: 1px solid black;
}

.label {
	float: right;
	margin: 1vh;
}

.names {
	display: flex;
	flex-direction: row;
	width: 100%;
	font-size: 16px;
	padding: 1vh;
	margin: 0;
}

td {
	padding: 5px;
}

input {
	outline: none;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 16px;
}

#family {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.properties {
	width: 60%;
	float: right;
}

#signature {
	transform: translateY(75%);
}

#signatureConfirm {
	top: 47%;
	left: 50%;
	transform: translate(-50%,-40%);
	position: absolute;
	width: 400px;
	padding: 20px;
	text-align: center;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	background-image: linear-gradient(to bottom right,#037007, black);
	color: white;
	border-radius: 30px;
	display: none;
}

#signatureConfirm p {
	margin: 5px;
}

#signatureConfirm button {
	margin: 8px;
	width: 30%;
	height: 35px;
	border-radius: 20px;
	border: none;
	font-size: 15px;
	font-weight: bold;
	transition: 0.4s ease;
	cursor: pointer;
}

#signYes:hover {
	background-color: #19d21f;
	color: white;
}

#signNo:hover {
	background-color: #f31313;
	color: white;
}

#signatureConfirm h1 {
	font-size: 22px;
	font-weight: 500;
	padding: 5px;
	font-family: 'Roboto', sans-serif;
}

button {
	outline: none;
}

#close {
	position: relative;
	transform: translateX(250%);
	margin: 1vh;
	border-radius: 10px;
	padding: 5px 15px;
	border: 1px solid black;
	cursor: pointer;
}

#identityConfirm {
	top: 47%;
	left: 50%;
	transform: translate(-50%,-40%);
	position: absolute;
	width: 400px;
	padding: 20px;
	text-align: center;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	background-image: linear-gradient(to bottom right,#037007, black);
	color: white;
	border-radius: 30px;
	display: none;
	z-index: 10;
}

#identityConfirm p {
	margin: 5px;
}

#identityConfirm button {
	margin: 8px;
	width: 30%;
	height: 35px;
	border-radius: 20px;
	border: none;
	font-size: 15px;
	font-weight: bold;
	transition: 0.4s ease;
	cursor: pointer;
}

#identityConfirm h1 {
	font-size: 22px;
	font-weight: 500;
	padding: 5px;
	font-family: 'Roboto', sans-serif;
}