body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

#container {
    background-image: linear-gradient(rgba(3, 112, 7, 1), rgba(0, 0, 0, 0.7));
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    z-index: -1;
}

.element {
    border: 0.1px solid rgba(0, 0, 0, 0.0);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    width: 12vh;
    height: 12vh;
    margin: 2.3vh;
    position: relative;
    z-index: 100;
}

.element svg {
    width: 95%;
}

button {
    outline: none;
}

.element p {
	font-size: 1.0vw;
    font-weight: 700;
    transform: translateY(-35%);
	display: none;
}

.element:hover p {
	display: block;
}

.element:hover {
	border: 1px solid white;
}

#close {
    position: absolute;
    top: 0%;
    right: 0%;
    font-weight: bolder;
    width: 50px;
    height: 35px;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.4s ease;
    color: white;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 15px;
    outline: none;
}

#close:hover {
    background-color: red;
}

#vehicles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 90%;
    padding: 2vh;
    z-index: -2;
}

#vehicles::-webkit-scrollbar {
    display: none;
}

#vehicles_outside {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 90%;
    padding: 2vh;
    z-index: -2;
}

#vehicles_outside::-webkit-scrollbar {
    display: none;
}

#buttons button {
    padding: 10px 19px;
    width: 100%;
    border: none;
    color: white;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.4s ease-out;
}

#in {
    border-bottom-right-radius: 25px;
}

#in:hover {
    background-color: green;
}

#out {
    border-bottom-left-radius: 25px;
}

#out:hover {
    background-color: red;
}

#buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
    bottom: 0%;
}